@import '../../scss/variables';

.root {
	padding: 12px 0 12px 0;
	span {
		font-weight: 700;
	}
}

.badge {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 8px;
	line-height: 27px;
	letter-spacing: 1px;
}
